@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@font-face{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
      }
      
    body {
        font-family: 'Quicksand', sans-serif;
    
      }

      @keyframes slide {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-50%);
        }
      }
      
      .animate-slide {
        animation: slide 30s linear infinite;
      }
      